:root {
    --pen-color:#303080;
    --link-color:#303030;
}
* {
    margin: 0rem;
    padding: 0rem;
}
body { 
    font-family: Source Sans Pro, sans-serif; 
    font-weight: lighter;
    font-size: 18px;
    width: auto;
    margin: 3rem;
    line-height: 1.5;
    /* margin-left: 4rem; */
    /* margin-top: 4rem; */
}
h1,h2,h4 {
    font-family: Source Sans Pro;
    font-weight: normal;
    /* margin: 0; */
}
h1 {
    margin-left: -0.35rem;
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h4 {
    font-size: 22px;
    font-weight: lighter;
}


q {
    padding: 0rem;
    font-style: italic;
    margin: 0rem;
    color: var(--pen-color);
}
.container {
    max-width: 70rem;
}
.paper-title {
    color: var(--pen-color);
    font-weight: bold;
}
.area-title {
    color: var(--pen-color);
    font-weight: bold;
    font-size: 20px;
}
td.edu {
    vertical-align: top;
    min-width: 4rem;
    /* line-height: 1.25; */
}
td.dissem {
    vertical-align: top;
    min-width: 7rem;
    /* line-height: 1.25; */
    padding-bottom: 0rem;
}
.table-icon{
    width: 18rem;
    border: 1px solid var(--pen-color);
    margin: 0 5px 0 0;
    border-radius: 5px;
}
td {
    line-height: 1.25;
    padding-bottom: 1rem;
}
table {
    font: inherit;
}
code {
    /* padding: .25em .5em; */
    font-size: 85%;
    color: var(--pen-color);
    background-color: #f9f9f9;
    border-radius: 3px;
}
a {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px dashed var(--link-color);
}
a.icon {
    text-decoration: none;
    border: none;
    font-size: 75%;
}
.photo-icon{
    width: 8rem;
    border: 1px solid var(--pen-color);
    margin: 0 5px 0 0;
    border-radius: 5px;
}
hr {
    /* height: 0px; */
    /* border-width: 13px; */
    display: block;
    position: relative;
    padding: 0;
    margin: 0 0 8px 0;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}
ul {
    list-style: none;
    padding: 0px;
}
li:before {
    content: "\26F6";
    margin: 0 0.5rem;
}
p {
    text-align: justify;
}
tr:nth-child(even) {
    background-color: #f5f5f5;
}